<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Result</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataDriven.setUp()[pri:0, instance:TestScripts.Post_DataDriven@4082ba93]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:29</td>   <td>7018</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataDriven.setUp()[pri:0, instance:TestScripts.Post_DataDriven@17bffc17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:29</td>   <td>6865</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataDriven.teardown()[pri:0, instance:TestScripts.Post_DataDriven@4082ba93]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:30</td>   <td>7602</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataDriven.teardown()[pri:0, instance:TestScripts.Post_DataDriven@17bffc17]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:23</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataDriven.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataDriven@4082ba93]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/13 08:06:29</td>   <td>7039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataDriven.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataDriven@17bffc17]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
