<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>parallel_Test_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aca7df">  <td>24/05/12 08:48:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setUp()[pri:0, instance:TestScripts.Post_Test_Script@7c37508a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@616674002</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/12 08:48:17</td>   <td>6752</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@7c37508a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@616674002</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/12 08:48:15</td>   <td>4866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_Post_Method()[pri:0, instance:TestScripts.Post_Test_Script@7c37508a]">validate_Post_Method</td> 
  <td>TestNG-tests-1@616674002</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>24/05/12 08:48:11</td>   <td>578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get_Method()[pri:0, instance:TestScripts.Get_TestScript@3ad83a66]">validate_Get_Method</td> 
  <td>TestNG-tests-2@1351478315</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>24/05/12 08:48:11</td>   <td>566</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setUp()[pri:0, instance:TestScripts.Get_TestScript@3ad83a66]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1351478315</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>24/05/12 08:48:18</td>   <td>7826</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.tearDown()[pri:0, instance:TestScripts.Get_TestScript@3ad83a66]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1351478315</td>   <td></td> </tr>
<tr bgcolor="b3b1b4">  <td>24/05/12 08:48:11</td>   <td>580</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setUp()[pri:0, instance:TestScripts.Delete_Test_Script@5b38c1ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@925973605</td>   <td></td> </tr>
<tr bgcolor="b3b1b4">  <td>24/05/12 08:48:11</td>   <td>601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate_Delete_Method()[pri:0, instance:TestScripts.Delete_Test_Script@5b38c1ec]">validate_Delete_Method</td> 
  <td>TestNG-tests-3@925973605</td>   <td></td> </tr>
<tr bgcolor="b3b1b4">  <td>24/05/12 08:48:15</td>   <td>4865</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.tearDown()[pri:0, instance:TestScripts.Delete_Test_Script@5b38c1ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@925973605</td>   <td></td> </tr>
<tr bgcolor="67e3f6">  <td>24/05/12 08:48:10</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate_Patch_Method()[pri:0, instance:TestScripts.Patch_Test_Script@f1da57d]">validate_Patch_Method</td> 
  <td>TestNG-tests-4@2038522556</td>   <td></td> </tr>
<tr bgcolor="67e3f6">  <td>24/05/12 08:48:17</td>   <td>6559</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.tearDown()[pri:0, instance:TestScripts.Patch_Test_Script@f1da57d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2038522556</td>   <td></td> </tr>
<tr bgcolor="67e3f6">  <td>24/05/12 08:48:10</td>   <td>-128</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setUp()[pri:0, instance:TestScripts.Patch_Test_Script@f1da57d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2038522556</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/05/12 08:48:17</td>   <td>6689</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScripts.Put_Test_Script@5b7a7f33]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@596910004</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/05/12 08:48:10</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate_Put_Method()[pri:0, instance:TestScripts.Put_Test_Script@5b7a7f33]">validate_Put_Method</td> 
  <td>TestNG-tests-5@596910004</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/05/12 08:48:10</td>   <td>-128</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setUp()[pri:0, instance:TestScripts.Put_Test_Script@5b7a7f33]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@596910004</td>   <td></td> </tr>
</table>
