<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="817693">  <td>24/05/27 09:31:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Nested_JSON.setUp()[pri:0, instance:TestScripts.Get_Nested_JSON@4a003cbe]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="817693">  <td>24/05/27 09:31:26</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Nested_JSON.validate_Get_Method()[pri:0, instance:TestScripts.Get_Nested_JSON@4a003cbe]">validate_Get_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="817693">  <td>24/05/27 09:31:30</td>   <td>4296</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Nested_JSON.tearDown()[pri:0, instance:TestScripts.Get_Nested_JSON@4a003cbe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
</table>
