<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Serieal_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64fa6a">  <td>24/05/06 15:00:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setUp()[pri:0, instance:TestScripts.Patch_Test_Script@7ae0a9ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>24/05/06 15:00:41</td>   <td>-4</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setUp()[pri:0, instance:TestScripts.Get_TestScript@35841320]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/06 15:00:53</td>   <td>11680</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScripts.Put_Test_Script@61c4eee0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/06 15:00:46</td>   <td>4853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:TestScripts.Post_Test_Script@1972e513]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>24/05/06 15:00:53</td>   <td>11614</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.tearDown()[pri:0, instance:TestScripts.Get_TestScript@35841320]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/06 15:00:41</td>   <td>3</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setUp()[pri:0, instance:TestScripts.Post_Test_Script@1972e513]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/06 15:00:53</td>   <td>11597</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.tearDown()[pri:0, instance:TestScripts.Delete_Test_Script@43df23d3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/06 15:00:41</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setUp()[pri:0, instance:TestScripts.Put_Test_Script@61c4eee0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/06 15:00:53</td>   <td>11629</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@1972e513]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/06 15:00:41</td>   <td>-36</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setUp()[pri:0, instance:TestScripts.Delete_Test_Script@43df23d3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="64fa6a">  <td>24/05/06 15:00:53</td>   <td>11620</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.tearDown()[pri:0, instance:TestScripts.Patch_Test_Script@7ae0a9ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="64fa6a">  <td>24/05/06 15:00:50</td>   <td>8310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate()[pri:0, instance:TestScripts.Patch_Test_Script@7ae0a9ec]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/06 15:00:41</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate()[pri:0, instance:TestScripts.Delete_Test_Script@43df23d3]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>24/05/06 15:00:50</td>   <td>9158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate()[pri:0, instance:TestScripts.Get_TestScript@35841320]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/06 15:00:52</td>   <td>10961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:TestScripts.Put_Test_Script@61c4eee0]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
