<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_All_TC_Retry</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:35:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate_Put_Method()[pri:0, instance:TestScripts.Put_Test_Script@305ffe9e]">validate_Put_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:35:44</td>   <td>542</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@19932c16]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:35:44</td>   <td>536</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.tearDown()[pri:0, instance:TestScripts.Patch_Test_Script@73eb439a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:35:41</td>   <td>-2730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate_Patch_Method()[pri:0, instance:TestScripts.Patch_Test_Script@73eb439a]">validate_Patch_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:35:33</td>   <td>-11195</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setUp()[pri:0, instance:TestScripts.Get_TestScript@514646ef]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:35:33</td>   <td>-11181</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setUp()[pri:0, instance:TestScripts.Put_Test_Script@305ffe9e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:35:33</td>   <td>-11043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate_Delete_Method()[pri:0, instance:TestScripts.Delete_Test_Script@4082ba93]">validate_Delete_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:35:44</td>   <td>547</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScripts.Put_Test_Script@305ffe9e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:35:38</td>   <td>-6037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_Post_Method()[pri:0, instance:TestScripts.Post_Test_Script@19932c16]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:35:42</td>   <td>-2021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get_Method()[pri:0, instance:TestScripts.Get_TestScript@514646ef]">validate_Get_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:35:33</td>   <td>-11191</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setUp()[pri:0, instance:TestScripts.Patch_Test_Script@73eb439a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:35:44</td>   <td>531</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.tearDown()[pri:0, instance:TestScripts.Get_TestScript@514646ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:35:44</td>   <td>519</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.tearDown()[pri:0, instance:TestScripts.Delete_Test_Script@4082ba93]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:35:33</td>   <td>-11187</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setUp()[pri:0, instance:TestScripts.Post_Test_Script@19932c16]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:35:32</td>   <td>-11247</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setUp()[pri:0, instance:TestScripts.Delete_Test_Script@4082ba93]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
</table>
