<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_All_TestClass_Retry</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:14:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setUp()[pri:0, instance:TestScripts.Get_TestScript@792b749c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:14:14</td>   <td>-26</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setUp()[pri:0, instance:TestScripts.Delete_Test_Script@1033576a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:14:14</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setUp()[pri:0, instance:TestScripts.Post_Test_Script@43df23d3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:14:14</td>   <td>11</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setUp()[pri:0, instance:TestScripts.Put_Test_Script@23e84203]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:14:14</td>   <td>3</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setUp()[pri:0, instance:TestScripts.Patch_Test_Script@6d60fe40]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:14:25</td>   <td>10925</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.tearDown()[pri:0, instance:TestScripts.Patch_Test_Script@6d60fe40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:14:25</td>   <td>10840</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.tearDown()[pri:0, instance:TestScripts.Delete_Test_Script@1033576a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:14:25</td>   <td>10887</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.tearDown()[pri:0, instance:TestScripts.Get_TestScript@792b749c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:14:25</td>   <td>10935</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@43df23d3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:14:25</td>   <td>10939</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScripts.Put_Test_Script@23e84203]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6b6be5">  <td>24/05/07 07:14:22</td>   <td>8272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate()[pri:0, instance:TestScripts.Get_TestScript@792b749c]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/07 07:14:14</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate()[pri:0, instance:TestScripts.Delete_Test_Script@1033576a]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/07 07:14:18</td>   <td>4260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:TestScripts.Post_Test_Script@43df23d3]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>24/05/07 07:14:22</td>   <td>7551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate()[pri:0, instance:TestScripts.Patch_Test_Script@6d60fe40]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/07 07:14:24</td>   <td>10290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:TestScripts.Put_Test_Script@23e84203]">validate</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
