<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2d4aa">  <td>24/05/12 09:06:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setUp()[pri:0, instance:TestScripts.Get_TestScript@7ae0a9ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/12 09:06:26</td>   <td>6833</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@302c971f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="64fa6a">  <td>24/05/12 09:06:26</td>   <td>6828</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.tearDown()[pri:0, instance:TestScripts.Patch_Test_Script@1972e513]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="64fa6a">  <td>24/05/12 09:06:19</td>   <td>3</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setUp()[pri:0, instance:TestScripts.Patch_Test_Script@1972e513]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>24/05/12 09:06:19</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get_Method()[pri:0, instance:TestScripts.Get_TestScript@7ae0a9ec]">validate_Get_Method</td> 
  <td>TestNG-test=Parallel_runner-4@1556867940</td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/12 09:06:19</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setUp()[pri:0, instance:TestScripts.Put_Test_Script@35841320]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/12 09:06:19</td>   <td>-40</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setUp()[pri:0, instance:TestScripts.Delete_Test_Script@359df09a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/12 09:06:26</td>   <td>6842</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScripts.Put_Test_Script@35841320]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/12 09:06:26</td>   <td>6803</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.tearDown()[pri:0, instance:TestScripts.Delete_Test_Script@359df09a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aca7df">  <td>24/05/12 09:06:19</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate_Delete_Method()[pri:0, instance:TestScripts.Delete_Test_Script@359df09a]">validate_Delete_Method</td> 
  <td>TestNG-test=Parallel_runner-1@1603696865</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/12 09:06:23</td>   <td>4351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_Post_Method()[pri:0, instance:TestScripts.Post_Test_Script@302c971f]">validate_Post_Method</td> 
  <td>TestNG-test=Parallel_runner-2@412788346</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>24/05/12 09:06:19</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setUp()[pri:0, instance:TestScripts.Post_Test_Script@302c971f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Parallel_runner-2@412788346</td>   <td></td> </tr>
<tr bgcolor="64fa6a">  <td>24/05/12 09:06:19</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate_Patch_Method()[pri:0, instance:TestScripts.Patch_Test_Script@1972e513]">validate_Patch_Method</td> 
  <td>TestNG-test=Parallel_runner-3@908084672</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>24/05/12 09:06:26</td>   <td>6823</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.tearDown()[pri:0, instance:TestScripts.Get_TestScript@7ae0a9ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d87d80">  <td>24/05/12 09:06:19</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate_Put_Method()[pri:0, instance:TestScripts.Put_Test_Script@35841320]">validate_Put_Method</td> 
  <td>TestNG-test=Parallel_runner-5@1495608502</td>   <td></td> </tr>
</table>
