<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_DataProvider</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83d8b8">  <td>24/05/12 20:05:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataProvider_DiffCls.setUp()[pri:0, instance:TestScripts.Post_DataProvider_DiffCls@7fd50002]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/12 20:05:07</td>   <td>-38</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataProvider.setUp()[pri:0, instance:TestScripts.Post_DataProvider@7ae0a9ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/12 20:05:18</td>   <td>10771</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataProvider_DiffCls.teardown()[pri:0, instance:TestScripts.Post_DataProvider_DiffCls@7fd50002]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/12 20:05:18</td>   <td>10720</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataProvider.teardown()[pri:0, instance:TestScripts.Post_DataProvider@7ae0a9ec]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/12 20:05:17</td>   <td>9955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataProvider_DiffCls.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataProvider_DiffCls@7fd50002]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/12 20:05:15</td>   <td>8300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataProvider.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataProvider@7ae0a9ec]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9873b6">  <td>24/05/12 20:05:15</td>   <td>8300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataProvider.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataProvider@7ae0a9ec]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/12 20:05:17</td>   <td>9955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataProvider_DiffCls.validate_Post_Method(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataProvider_DiffCls@7fd50002]">validate_Post_Method</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
