<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_mock</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7889f4">  <td>24/05/16 21:07:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataDriven.setUp()[pri:0, instance:TestScripts.Post_DataDriven@4082ba93]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/16 21:07:55</td>   <td>651</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataDriven.teardown()[pri:0, instance:TestScripts.Post_DataDriven@4082ba93]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
</table>
